*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}

body{
    background-color: white

}
.header img{
    margin: 10px;
   
}
.card-container {
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top: 100px;

}
.Card{
    width: 325px;
    background-color: #e099c9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:  0px 2px 4px rgba(238, 234, 234, 0.2);  
    margin: 20px;
}

.Card img{
    width: 350px;
    height: auto;
}

.card-content{
  padding: 16px;  
}

.card-content h3{
    font-size:28px;
    margin-bottom: 8px;
    color: aliceblue;
}

.card-content p{
    color: white;
    font-size: 15px;
    line-height:1.3 ;

}
.card-content h5{
    font-size: 17px;
    color: white
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(185, 43, 131);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 16px;
    color: #fff;  
}

.nav-list{
   background-color: hsl(308, 72%, 73%);
   box-shadow: 0px 3px 10px rgb(240, 145, 216); 
   align-items: center;
   margin-bottom: 10px;
}
.nav-bar{
   display: flex;
   justify-content: space-between;
   padding: 5px 10px;
}


.nav-list ul{
   display: flex;
   justify-content: center;
   list-style: none;
}

.nav-item1{
   margin: 15px;
   color: white;

}
.nav-item5{
   margin: 10px;
   padding: 10px 15px;
   background-color: rgb(185, 43, 131);
   color: rgb(248, 184, 234);
   border-bottom-left-radius: 50px;
   align-items: end;
}
.mensagem {
    display: flex;
    margin: 20px;
    padding: 10px 20px;
    color: pink;
    font-size: 20px;
    justify-content: center;   
    display: flex;
    align-items: center;
}
        
.imagem-descomplicando .foto1{
    margin: 100px;
    padding: 50px  100px;    
    display: flex;
    justify-content: center;
        /* Centraliza horizontalmente */
    align-items: center;
        /* Centraliza verticalmente */
    height: 100vh;
        /* 100% da altura da viewport */
    margin: 0;
}
.title1{
    color: #e099c9;
    font-size: 20px;  
}
.title2{
    color: #e099c9;
    font-size: 20px;
}
.link-videos{
    display: flex;
    list-style: none;
}
.container{
    min-height: 100vh;
    width: 100vw;
    background-color: #e099c9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;   
}
.aside{
overflow-x: hidden;
}
.h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ques{
    background-color: rgb(185, 43, 131);
    padding: 10px  ;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: center;
    
}
.ques:hover{
    background-color: rgb(248, 184, 234);
}
.ans{
    background-color: rgb(185, 43, 131);
    padding: 30px ;
    font-size: 15px;
    color: white;
    border-top: 0px solid;
    transition: all .3s ease-in-out; 
    overflow:hidden ;
    max-height: 0px;
    text-align: justify;
    
    
    
}
.faq i{
   transition: all .3s ease-in-out;

}
.faq.active .ans{
    max-height: 2000px;
}
.faq.active i{
    transform: rotate(0px);

}
.faq-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.ans p{
  background-color:rgb(185, 43, 132);
  padding: 30px;
  font-size: 20px;
  border-top: 1px solid rgb(248, 184, 234);

}
.seta{
    border-top: 20px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0px 10px;
    float: left;
}
p{
    margin-bottom: 10px;
}
    