* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.Card {
    width: 350px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.Card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #6a6d70;
}

.card-content p {
    font-size: 15px;
    line-height: 1.5;
    color: #343a40;
}

.card-content h5 {
    font-size: 17px;
    color: #b92b84;
    margin-bottom: 5px;
}

.card-content .btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #a15685;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
}

.extra-text {
    display: none;
}

.nav-list{
   background-color: rgb(245, 241, 243);
   box-shadow: 0px 3px 10px rgb(240, 145, 216); 
   align-items: center;
   margin-bottom: 10px;
   padding: 0 10px;
   
   
}
.nav-bar{
   display: flex;
   justify-content: flex-end;
   
   
}
.nav-list img{
   padding:0 10px;
   justify-content:start;


}

.nav-list ul{
   display: flex;
   justify-content: flex-end;
   list-style: none;
}

.nav-item1{
   margin: 0px;
   color: rgb(185, 43, 131);
   padding: 10px 20px;

}

.nav-item5{
    background-color: rgb(247, 106, 193);
    border-bottom-left-radius: 10px;
    align-items: end;
    color: rgb(185, 43, 131);
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}
.mensagem {
    display: flex;
    margin: 20px;
    padding: 10px 20px;
    color: pink;
    font-size: 20px;
    justify-content: center;   
    display: flex;
    align-items: center;
}
        
.foto1{
    width: 280%;
    justify-content: start;
    align-content: start;
    
}
   
  
.title1 h1{
    margin: 30px;
    padding: 10px 20px;
    color: rebeccapurple;
    font-size: 30px;  
    text-align: start;
}
.title2 h1{
    margin: 30px;
    padding: 10px 20px;
    color: rebeccapurple;
    font-size: 30px;
    text-align: start;
    
}
.title3 h1{
    margin: 30px;
    padding: 10px 20px;
    color: rebeccapurple;
    font-size: 30px;
    text-align: start;
}

.container{
    min-height: 80vh;
    width: 10vw;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;   
}
.container h1{
    color:rebeccapurple;
}
.aside{
    overflow-x: hidden;
}
.h1{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
    color: white;
}
.ques{
    background-color: rgba(248, 123, 200, 0.774);
    padding: 10px  ;
    font-size: 18px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: center;
    
}
.ques .h3{
    font-size:18px;
    margin-bottom: 10px;
    color: rgb(106, 109, 112);
    
}       


.ques:hover{
    background-color: rgba(248, 123,200,0.774);
}
.ans{
    background-color: white;
    padding: 1px ;
    font-size: 15px;
    color: rgba(153, 147, 151, 0.897);
    border-top: 0px solid;
    transition: all .3s ease-in-out; 
    overflow:hidden ;
    max-height: 0px;
    text-align: justify;   
}

.faq i{
   transition: all .3s ease-in-out;

}

.faq.active .ans {
    max-height: 1180px;
}
.faq.active i{
    transform: rotate(0px);

}
.faq-list{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: start;
    gap: 0px;
}
.ans p{
    background-color:white;
    padding: 10px;
    font-size: 15px;
    

}
.seta{
    border-top: 10px solid;
    border-left: 10px solid rgb(240, 145, 216);
    border-right: 10px solid rgb(240, 145, 216);
    margin: 0px 10px;
    float: left;
    justify-content: end
}
p{
    margin-bottom: 10px;
}
.mensagem{
    text-align: center;
    font-size: 18px;

}
.msg-sobrenos{
    text-align: center;
    font-size: 18px;
    color:#e099c9 ;
}
.title3 h2{
    text-align: justify ;
    color: #e099c9;
    font-size: 20px;
}
.newsletter {
    background-color:rgb(248, 184,234);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(240, 1, 160, 0.1);
    text-align: start;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.newsletter h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(247, 126, 220);
}

.newsletter p {
    font-size: 16px;
    color: #fffefe;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: rgb(248, 243, 246);
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 350px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: rgb(247,106, 193);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    
}

button:hover {
    background-color:rgb(240, 145, 216);
}
.footer{
    text-align: justify;
    font-size: 18px;
    color: pink;
}    